<h1> the questions listed </h1>

<% @questions.each do |question| %>
  <%= link_to question.title, question %> <br>
<% end %>

<% if current_user %>
  <%= link_to 'Create New Question', new_question_path, class:"btn btn-warning" %>
<% end %>