<h3> All Questions </h3>

<% @questions.each do |question| %>
  <h1><%= link_to question.title, question, id:"index" %> </h1>
<% end %>
<br>
<% if current_user %>
  <%= link_to 'Ask Question', new_question_path, id:"question", class:"submit" %>
<% end %>