

/* selected link */
a:active {
    color: #277BD6;
}


/* not being used */
div.background {
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    background-color: #E3E3E3;
}



div.test_back {
    width: 1200px;
    height: 500px;
    padding: 10px;
    border: 1px solid gray;
    color: white;
    background-color: #E3E3E3;
}

.col-centered {
    float: none;
	margin: 0 auto;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border: 1px solid gray;
    background-color: white;
}

div.box_blue {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #277BD6;
}

div.box_red {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #F0513C;
}


div.box_nav {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #4E4E4F;
}

div.box_dark {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #E3E3E3;
}

div.box_test {
    width: 150px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #E3E3E3;
}

div.box_light {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #F0F0F0;
}

div.box_yellow {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #FFC400;
}


.checking {
    color: white;
}


#index {
    color: black;
}

#submit {
    background-color: #277BD6;
    color: white;
    font-family: 'Pontano Sans';
    font-size: 17px;
    cursor: pointer;
    padding: 10px;
    border:none;
}

.modal-title {
    width: 600px;
    height: 50px;
}

.modal-question {
    width: 600px;
    height: 150px;
}

h4 { font-family: 'Pontano Sans', sans-serif; font-weight: bold; }


