.navbar-test {
  background-color: #4E4E4F;
  position: relative;
  padding: 0px !important;
}

.navbar-font {
	color: white;
}

.navbar-form navbar-right {
  right: 5px;
}

.container{
  width:980px;
  text-align: left;
}

.active {
	color: white;
}
